{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center my-2">Liste des utilisateurs</h1>
    	<div class="w-100 d-flex justify-content-center">
            <a class="btn btn-app my-5" href="{{ path('app_user_new') }}">Ajouter un Utilisateur</a>
        </div>
    </button>
	<div class="row d-flex flex-wrap w-75 mx-auto my-2">
        {% for user in users %}
			<div class="col-md-3 mb-4 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<h5 class="card-title">{{ user.userName }}</h5>
						<h5 class="card-title">{{ user.email }}</h5>
                        <p class="card-text">Créé le : {{ user.createdAt|date('Y-m-d H:i:s') }}</p>
						<a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-app">Lire la suite</a>
					</div>
				</div>
			</div>

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}


{% endblock %}
