{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
	<div class="container-fluid mt-4 h-100">
		<div
			class="row">
			{# Sidebar avec la liste des rooms #}
			<nav class="col-md-3 col-lg-2 sidebar shadow-sm h-100">
				<div class="p-4 bg-white">
					<h4 class="mb-4 text-primary border-bottom pb-2">Sujets</h4>
					<ul class="nav nav-pills flex-column gap-2">						
						<li class="nav-item">
						<a class="nav-link text-truncate {% if forum.id == forum.id %}active{% else %}text-dark hover-primary{% endif %}" href="{{ path('app_chat_show', {'forumId': forum.id}) }}">
								<i class="bi bi-chat-left me-2">
									{{ forum.title }}
								</i>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	{# Section principale avec les messages #}
			<div class="col-md-9 col-lg-10">
				<div class="card h-80">
					<div class="card-header bg-primary text-white">
						<h5 class="mb-0">Messages</h5>
					</div>

					{# Zone des messages #}
					<div class="card-body" style="height: calc(100vh - 300px); overflow-y: auto;">
						<h4 class="text-center pt-5 fw-bold"></h4>
					</div>
				</div>
			</div>
		</div>
	</div>

    <a href="{{ path('app_forum_index') }}">back to list</a>

    <a href="{{ path('app_forum_edit', {'id': forum.id}) }}">edit</a>

    {{ include('/Administration/forum/_delete_form.html.twig') }}
{% endblock %}
