{% extends 'base.html.twig' %}

{% block title %}Carousel
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">Détail d'une image</h1>

	<div class="card w-75 mx-auto text-center border-card">
		<div
			class="card-body">
			{# Affichage du nom de l'image #}
			<h5 class="my-3">
				Nom de l'image :
			</h5>
			<p class="card-text my-5">
				{{ carousel.imageName}}
			</p>
			{# Affichage de l'image #}
			<h5 class="my-3">
				Image :
			</h5>
			{% if carousel.imageName %}
				<img src="{{ vich_uploader_asset(carousel, 'imageFile') }}" class="card-img-top" alt="{{ carousel.imageName }}">
			{% endif %}
			{# Boutons de modification et de suppression de l'image #}
			<div class="d-flex flex-row justify-content-around align-items-center">
				<a class="btn btn-app mx-2 my-3" href="{{ path('app_admin_carousel_edit', {'id':carousel.id}) }}">
					Modifier l'image</a>
				{{ include('/Administration/carousel/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
