{% extends 'base.html.twig' %}

{% block title %}Actualité
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">{{ blog.title }}</h1>

	<div class="card w-75 mx-auto text-center border-card">
		{% if blog.imageName %}
			<img class="card-img-top w-25 mx-auto" src="{{ vich_uploader_asset(blog,blog.imageFile) }}" alt="{{ blog.imageName }}">
		{% endif %}

		<div class="card-body">
			<p class="card-text mb-5">
				{{ blog.content}}
			</p>
			{% for blogComment in blog.blogComment %}
				<div class="card w-75 mx-auto my-3 text-center d-flex flex-row justify-content-between">
					<p class="my-3 ms-2">{{ blogComment.description }}</p>
					{% if is_granted('BLOGCOMMENT_EDIT', blogComment) %}
						<div class="d-flex flex-row justify-content-between align-items-center">
							<a class="mx-2" href="{{ path('app_blog_comment_edit', {'id':blogComment.id}) }}"><img src="{{ asset('../assets/images/icones/pencil-square.svg') }}" alt="edition"></a>
							<twig:ShowBlog :blogComment="blogComment"/>
						</div>
					{% endif %}
				</div>
			{% endfor %}
			<button class="btn btn-app my-5">
                <a href="{{ path('app_blog_comment_add', {'blogId': blog.id} )}}" class="btn btn-app">Ajouter un commentaire</a>
            </button>
			{% if is_granted('ROLE_ADMIN') %}
				<div class=" d-flex flex-row justify-content-end align-items-center">
					<a class="mx-2" href="{{ path('app_admin_blog_edit', {'id':blog.id}) }}"><img src="{{ asset('../assets/images/icones/pencil-square.svg') }}" alt="edition"></a>
					{{ include('/Administration/blog/_delete_form.html.twig') }}
				</div>
			{% endif %}
		</div>
	</div>	

{% endblock %}
