{% block header %}
	<div class="container my-2">
		<div class="row">
			<div class="col">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg menu">
						<div class="container-fluid">
							<a class="navbar-brand logo" href="{{ path('app_home') }}"><img class="w-100" src="{{ asset('../assets/images/logoVeloCharbon.png') }}" alt="logo veloCharbon"></a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link active nav-a mx-2" href="{{path('app_home')}}">Accueil</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active nav-a mx-2" href="{{ path('app_blog_index')}}">Les actualités</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active nav-a mx-2" href="{{ path('app_journey_index')}}">Les Trajets</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active nav-a mx-2" href="{{ path('app_forum_index')}}">Forum</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active nav-a mx-2" href="{{ path('app_carousel_index')}}">Carousel</a>
									</li>
								</ul>
							</div>
							{% if app.user %}
								<p class="bienvenue my-auto">Bonjour
									{{ app.user.userName }}</p>
{# 								<a href="{{ path('app_profile_show') }}">Mon compte </a>
 #}								<a class="nav-link active nav-a" href="{{ path('app_logout') }}"> Déconnexion</a>
							{% else %}
								<div class="mb-3">
									<a class="nav-link active nav-a" href="{{ path('app_login') }}">Connexion</a>
								</div>
							{% endif %}
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}
