{% extends 'base.html.twig' %}

{% block title %}Forum index
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4 h-100">
		<div
			class="row">
			{# Sidebar avec la liste des rooms #}
			<nav class="col-md-3 bg-gold col-lg-2 sidebar shadow-sm h-100">
				<div class="p-4 bg-white">
					<h4 class="mb-4 border-bottom pb-2">Sujets
							<a href="{{ path('app_forum_new')}}" class="btn btn-app my-3">Créer un nouveau Forum</a>
					</h4>
					<ul class="nav nav-pills flex-column gap-2">
						{% for category in categories %}
							<li>
								<h6>{{ category.title }}</h6>
							</li>
							<ul class="nav nav-pills flex-column gap-2">
								{% for sujet in category.forum %}
									<li class="nav-item">
										<a class="nav-link text-truncate text-dark hover-primary" href="{{ path('app_forum_show', {'forumId': sujet.id}) }}">
											<i class="bi bi-chat-left me-2">
												{{ sujet.title }}
											</i>
										</a>
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
					</div>
				</nav>
				{# Section principale avec les messages #}
				<div class="col-md-9 col-lg-10">
					<div class="card h-80">
						<div class="card-header bg-gold">
							<h5 class="mb-0 white">Messages</h5>
						</div>

						{# Zone des messages #}
						<div class="card-body" style="height: calc(100vh - 300px); overflow-y: auto;">
							<h4 class="text-center pt-5 fw-bold">Choisissez une salle pour afficher les messages!</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# {% for forum in forums %}
				            <tr>
				                <td>{{ forum.id }}</td>
				                <td>{{ forum.title }}</td>
				                <td>{{ forum.deletedAt ? forum.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
				                <td>{{ forum.createdAt ? forum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				                <td>{{ forum.updatedAt ? forum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				                <td>
				                    <a href="{{ path('app_forum_show', {'id': forum.id}) }}">show</a>
				                    <a href="{{ path('app_forum_edit', {'id': forum.id}) }}">edit</a>
				                </td>
				            </tr>
				        {% else %}
				            <tr>
				                <td colspan="6">no records found</td>
				            </tr>
				        {% endfor %}
				        </tbody>
				    </table> #}

		{# <a href="{{ path('app_forum_new') }}">Create new</a> #}
	{% endblock %}
