{{ form_start(form) }}
{{ form_widget(form._token) }}

<h5 class="my-3">Description du sujet</h5>
{{ form_widget(form.description)}}

<div>
	<button class="btn btn-app my-5">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form, {render_rest: false}) }}
