{{ form_start(form) }}
<div class="card w-75 mx-auto text-center border-card my-3">
	<div class="card-body">
		<h5 class="my-3">Nom</h5>
		{{ form_widget(form.userName, {'attr': {'class': 'w-50 mx-auto'}})}}
		<h5 class="my-3">email</h5>
		{{ form_widget(form.email, {'attr': {'class': 'w-50 mx-auto'}})}}
		{% if is_granted('ROLE_ADMIN') %}
			<h5 class="my-3">Roles :</h5>
			{{ form_widget(form.roles)}}
		{% endif %}
		<div>
			<button class="btn btn-app my-5">{{ button_label|default('Save') }}</button>
		</div>
	</div>
</div>


{{ form_end(form, {render_rest: false}) }}
