{{ form_start(form) }}
{{ form_widget(form._token) }}

<div class="card w-75 my-5 mx-auto text-center border-card">
	<h5 class="my-3">Etape</h5>
	{{ form_widget(form.stage, {'attr': {'class': 'w-50 mx-auto'}})}}

	<h5 class="my-3">Description</h5>
	{{ form_widget(form.description, {'attr': {'class': 'w-50 mx-auto'}})}}

	<h5 class="my-3">Fichier GPX</h5>
	<p>{{ journey.gpxName }}</p>

	<h5 class="my-3">Modifier le gpx</h5>
	{{ form_widget(form.gpxFile)}}
	<div class="d-flex justify-content-evenly">
		<button class="btn btn-app my-5 px-5">{{ button_label|default('Save') }}</button>
	</div>
</div>

{{ form_end(form, {render_rest: false}) }}
