{% extends 'base.html.twig' %}

{% block title %}Journey index{% endblock %}

{% block body %}
    <h1>Journey index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stage</th>
                <th>Description</th>
                <th>GpxName</th>
                <th>DeletedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for journey in journeys %}
            <tr>
                <td>{{ journey.id }}</td>
                <td>{{ journey.stage }}</td>
                <td>{{ journey.description }}</td>
                <td>{{ journey.gpxName }}</td>
                <td>{{ journey.deletedAt ? journey.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ journey.createdAt ? journey.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ journey.updatedAt ? journey.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_journey_show', {'id': journey.id}) }}">show</a>
                    <a href="{{ path('app_journey_edit', {'id': journey.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_journey_new') }}">Create new</a>
{% endblock %}
